.banner {
    background-color: var(--second-color);
    padding: 1.25em 2.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    font-family: var(--logo-font);
    color: var(--main-color);
    font-size: 2rem;
    margin-bottom: .5em;
    text-align: justify;
}

.banner-text {
    color: var(--main-color);
}

.banner-btn {
    display: flex;
    margin: 1.75em 0;
    justify-content: space-around;
}

.banner-link {
    font-weight: 500;
    padding: .35em 1em;
    border: .1em solid var(--main-color);
    margin-top: 4.75em;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: .75rem;
}

.banner-link:hover {
    background-color: var(--font-color);
    color: var(--white);
}

.banner-img {
    width: 270px;
    height: 180px;
    /* box-shadow: 7px 7px var(--main-color); */
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-top-left-radius: 20px;
}

@media screen and (min-width: 768px) {
    .banner {
        flex-direction: row;
    }
    .banner-content {
        width: 50%;
    }

    .banner-img {
        width: 290px;
        height: 180px;
    }
}