footer {
    padding: 1em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2.75em;
}

.logo-footer {
    width: 100px;
    height: 20px;
    margin-bottom: .75em;
}

.menus {
    margin: .5em 0;
}

.menu-title {
    color: var(--white);
    margin-bottom: .25em;
    font-size: .95rem;
}

.footer-menu {
    display: flex;
    flex-direction: row;
}

.footer-link {
    font-size: .85rem;
    text-decoration: none;
    color: var(--font-color);
    margin-right: .85em;
}

footer p {
    font-size: .85rem;
    text-align: center;
}

footer a {
    color: var(--white);
}

footer a:hover {
    color: var(--red);
}

@media screen and (min-width: 768px) {
    .footer-container {
    flex-direction: row;
    }

    .logo-footer {
        width: 130px;
        height: 30px;
    }

    .footer-menu {
        flex-direction: column;
        line-height: 1.75;
    }
    
    .menu-title {
        font-size: 1rem;
    }

    footer p {
        padding: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .logo-footer {
        width: 170px;
        height: 45px;
    }
    
    .menu-title {
        font-size: 1.35rem;
    }

    .footer-menu {
        line-height: 2;
    }

    .footer-link {
        font-size: 1.25rem;
    }

    footer p {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1440px) {
    .logo-footer {
        width: 200px;
        height: 60px;
    }
    
    .menu-title {
        font-size: 1.5rem;
    }

    .footer-menu {
        line-height: 2.25;
    }

    .footer-link {
        font-size: 1.35rem;
    }

    footer p {
        font-size: 1.35rem;
    }
}