header {
    background-color: var(--second-color);
    padding: 1.25em 1.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--main-color);
}

.logo {
    width: 170px;
}

.nav {
    display: none;
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    
    .nav-btn {
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
    }

    .nav-menu--link:hover {
        cursor: pointer;
        border-bottom: solid .125em var(--main-color);
        text-transform: uppercase;
    }

    .btn-header {
        font-weight: 500;
        padding: .35em 1em;
        border: .1em solid var(--main-color);
        text-transform: uppercase;
    }

    .btn-header:hover {
        padding: .35em 1em;
        background-color: var(--font-color);
        color: var(--white);
        border: .1em solid var(--main-color);
    }

    .menu-hbg--img {
        display: none;
    }
}