.main {
    padding: 1em;
    text-align: center;
    margin: 1em 0;
}

.main-title {
    font-family: var(--logo-font);
    color: var(--white);
    font-size: 1.75rem;
    margin-bottom: .75em;
    text-align: center;
}

.most-sold {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: .5em;
    justify-content: space-evenly;
}

.most-sold--title {
    font-weight: 500;
    font-size: .85rem;
}

.most-sold-itens {
    padding: .75em 0;
    border-top: .12em solid var(--font-color);
    display: grid;
    grid-template-columns: 37.5% 37.5%;
    grid-template-rows: auto auto;
    row-gap: 1em;
    column-gap: .75em;
    justify-content: center;
    margin-bottom: .75em;
}

.item {
    display: grid;
    grid-template-columns: 3fr auto;
    grid-template-rows: 3fr auto auto;
    grid-template-areas: 
    "img img"
    "name name"
    "price btn";
    align-items: start;
    border: .1em solid var(--font-color);
    width: 120px;
    box-sizing:content-box;
}

.item-img {
    width: 120px;
    grid-area: img;
}

.item-name {
    grid-area: name;
    font-size: .75rem;
    margin: .75em;
    text-align: start;
    align-items: start;
}

.item-price {
    grid-area: price;
    font-size: .75rem;
    color: var(--white);
    text-align: start;
    margin-left: .5em;
}

.btn-buy {
    font-weight: 600;
    font-size: .65rem;
    text-transform: uppercase;
    grid-area: btn;
    padding: .35em 1em;
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    margin-right: .75em;
    margin-bottom: .75em;
}

.btn-buy:hover {
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
    border: .1em solid var(--main-color);
}

.main-link {
    padding: .35em 1em;
    border: .1em solid var(--white);
    border-radius: 7px;
    font-weight: 500;
    font-size: .75rem;
    color: white;
    text-transform: uppercase;
}

.main-link:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    border: .1em solid var(--main-color);
}

@media screen and (min-width: 768px) {
    .main {
        padding: 1em 2.25em;
    }

    .main-title {
        font-size: 2.25rem;
        margin: 0 1.5em .75em 1.5em;
    }
    
    .main-text {
        font-size: 1.25rem;
        margin: 0 1.95em 3em 1.95em;
    }

    .most-sold-itens {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
    }

    .most-sold--title {
        font-size: 1rem;
    }

    .item {
        width: 20vw;
        height: 42.5vh;
        padding-bottom: .5em;
    }

    .item-img {
        width: 100%;
    }

    .item-name, .item-price {
        font-size: .85rem;
    }

    .btn-buy {
        font-size: .75rem;
    }

    .main-link {
        font-size: .85rem;
    }
}

@media screen and (min-width: 1024px) {
    .main-title {
        font-size: 2.75rem;
    }
    
    .main-text {
        font-size: 1.5rem;
        width: 70%;
        margin: 0 auto 3em auto;
    }

    .most-sold-itens {
        margin-bottom: 2.75em;
    }

    .most-sold--title {
        font-size: 1.25rem;
    }

    .item-name, .item-price {
        font-size: 1.15rem;
    }

    .btn-buy {
        font-size: .95rem;
    }

    .main-link {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .main-title {
        font-size: 3.75rem;
    }
    
    .main-text {
        font-size: 1.75rem;
        width: 60%;
        margin: 0 auto 3em auto;
    }

    .most-sold-itens {
        margin-bottom: 4em;
    }

    .most-sold--title {
        font-size: 1.5rem;
    }

    .item {
        width: 20vw;
        height: 53vh;
        padding-bottom: .75em;
    }
    
    .item-name, .item-price {
        font-size: 1.5rem;
    }

    .btn-buy {
        font-size: 1rem;
    }

    .main-link {
        font-size: 1.25rem;
    }
}