.newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1.75em 0;
}

.newsletter-title {
    font-family: var(--logo-font);
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: .5em;
}

.newsletter-text  {
    margin-bottom: 1.25em;
    font-size: .85rem;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: .125em solid var(--font-color);
    padding-bottom: .5em;
    padding-left: .75em;
    color: var(--font-color);
}

.input::placeholder {
    padding-left: .75em;
    color: var(--font-color);
}

.subscribe {
    padding: .5em .75em;
    font-weight: 600;
    font-size: .65rem;
    text-transform: uppercase;
    background-color: var(--second-color);
    border: none;
}

.subscribe:hover {
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--white);
    border: .1em solid var(--main-color);
}

@media screen and (min-width: 768px) {
    .newsletter {
        flex-direction: row;
        margin: 3.75em 0;
        justify-content: space-between;
    }

    .newsletter-info {
        width: 45%;
    }

    .newsletter-title {
        font-size: 2rem;
        margin-bottom: .75em;
        text-align: left;
    }
    
    .newsletter-text  {
        font-size: 1.25rem;
        text-align: left;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .input {
        width: 60%;
        padding: .75em .5em .75em .5em;
        margin-right: .75em;
        font-size: 1rem;
    }

    .input::placeholder {
        font-size: 1rem;
    }
    
    .subscribe {
        font-size: .85rem;
    }
}

@media screen and (min-width: 1024px) {  
    .newsletter {
        justify-content: center;
    }

    .newsletter-info {
        width: 40%;
    }

    .newsletter-title {
        font-size: 2.5rem;
        margin-bottom: .5em;
    }
    
    .newsletter-text  {
        font-size: 1.5rem;
    }

    form {
        justify-content: center;
    }

    .input {
        font-size: 1.25rem;
    }

    .input::placeholder {
        font-size: 1.25rem;
    }
    
    .subscribe {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .newsletter-title {
        font-size: 3.25rem;
    }
    
    .newsletter-text  {
        font-size: 1.75rem;
    }

    .input {
        font-size: 1.5rem;
    }
    
    .input::placeholder {
        font-size: 1.5rem;
    }
    
    .subscribe {
        font-size: 1.25rem;
    }
}