@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/video.css");
@import url("./styles/main.css");
@import url("./styles/builder.css");
@import url("./styles/about-us.css");
@import url("./styles/newsletter.css");
@import url("./styles/footer.css");

:root {
    --main-font: 'Kanit', sans-serif;
    --logo-font: 'Racing Sans One', cursive;
    --main-color: #000308;
    --second-color: #f3ff4a;
    --font-color: #626369;
    --white: #F1F1F1;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--main-font);
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* .btn {
    padding: .35em 1em;
    border: .1em solid var(--main-color);
} */

.btn-white {
    background-color: var(--white);
    border: .1em solid var(--white);
}

.btn-white:hover {
    padding: .35em 1em;
    background-color: var(--font-color);
    color: var(--white);
    border: .1em solid var(--main-color);
}

em {
    color: var(--second-color);
}

.hide {
    display: none;
}